@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700|Comfortaa:400,700,300);
/* Animations */
.loader {
  display: none;
  font-size: 3px;
  margin: 0px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

/* Global */
.logo {
  width: 76px;
  padding-top: 3em; }

.chart {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  text-align: center; }
  .chart span {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 2em;
    padding-top: 10px; }

a {
  color: white; }

body {
  transition: background-color 0.5s ease;
  font-family: 'Lato', sans-serif;
  color: white;
  background: #3590fc;
  text-align: center; }

h1, h2, h3, h4, h5 {
  color: white; }

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 2em;
  font-weight: 400; }

h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 1.1em;
  font-weight: 300; }

p {
  font-size: 1.15em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9); }

blockquote {
  font-size: 0.9em;
  font-weight: 400;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  border: 0;
  padding: 2em; }
