@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700|Comfortaa:400,700,300);
$one: #3590FC;
$two: #55B7FC;
$three: #62C7FC;
$four: #5BCDEC;
$five: #5BC6D7;
$six: #29B5D1;
$red: #F55;

body {
  font-family: 'Lato', sans-serif;
  color: white;
  background: $one;

  .end {
    transition: all 0.2s ease-in-out;
    opacity: 0;
  }

  &.fp-viewing-0, &.fp-viewing-0-0 {
    background: $one;
    .one .end {
      opacity: 1;
    }
  }

  &.fp-viewing-1, &.fp-viewing-0-1 {
    background: $two;
    .two .end {
      opacity: 1;
    }
  }

  &.fp-viewing-2, &.fp-viewing-0-2 {
    background: $three;
    .three .end {
      opacity: 1;
    }
  }

  &.fp-viewing-3, &.fp-viewing-0-3 {
    background: $four;
    .four .end {
      opacity: 1;
    }
  }

  &.fp-viewing-4, &.fp-viewing-0-4 {
    background: $five;
    .five .end {
      opacity: 1;
    }
  }

  &.fp-viewing-5, &.fp-viewing-0-5 {
    background: $six;
    .six .end {
      opacity: 1;
    }
  }
}

h1, h2, h3, h4, h5 {
  color: white;
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 2em;
  font-weight: 400;
}

p {
  font-size: 1.15em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
}

.red {
  color: $red;
}

.section {
  transition: background-color 0.5s ease;
  background: transparent;

  h1 {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 2em;
  }
}

#fp-nav, .fp-slidesNav {
  span {
    background: white !important;
  }
}

.show-small {
  visibility: hidden;
}

.hidden {
  visibility: hidden;
}

a {
  color: white;
  text-decoration: none;
  padding: 0.5em 0em;
  font-size: 1em;
  font-weight: 300;
}

a:hover, a:active {
  color: $one;
  border-radius: 2px;
}

a:visited {
  color: white;
}

ul.nav {
  list-style-type: none;
  margin-right: 20px;

  li {
    display: inline;
  }

  a {
    padding: 0.5em 1em;
  }
}

header {
  position: fixed;
  padding-top: 38px;
  z-index: 99;
  left: 38px;
  right: 38px;

  .left {
    width: 50%;
  }

  .right {
    text-align: right;
    width: 50%;
  }

  h1 {
    display: inline;
    font-size: 1.4em;
    padding-left: 8px;
  }

  img {
    width: 70px;
    margin-top: -5px;
  }
}

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

footer {
  position: fixed;
  z-index: 99;
  bottom: 10px;
  left: 38px;
  right: 38px;
  font-weight: 300;

  .left {
    text-align: left;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }
}

@keyframes bounce {
  from {
    -ms-transform: translate(0px,-25px);
    -webkit-transform: translate(0px,-25px);
    transform: translate(0px,-25px);
  }
  to {
    -ms-transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    transform: translate(0px,5px);
  }
}

.down-arrow {
  position: absolute;
  animation: bounce ease-in-out 1s infinite alternate;
  width: 50px;
}

.hide {
  visibility: hidden;
}

.phone-image {
  width: 250px;
  margin-left: 20px;
}

.phone {
  position: fixed;
  z-index: 99;
  width: 320px;
  height: 560px;
  left: 50%;
  margin-left: -330px;
  top: 50%;
  margin-top: -260px;

  .container {
    position: relative;
    width: 320px;
    height: 560px;

    img {
      position: absolute;
      width: 316px;
    }
  }
}

.ignore-touch {
  pointer-events: none;
}

#theme-phone-1 {
  position: fixed;
  z-index: 1;
  width: 320px;
  height: 560px;
  left: 50%;
  margin-left: -330px;
  top: 50%;
  margin-top: -260px;

  .container {
    transition: 0.5s ease-in-out;
    opacity: 0;
    position: relative;

    img {
      position: absolute;
    }

    .screenshot {
      top: 71px;
      left: 25px;
      width: 232px;
    }
  }
}

.fp-viewing-4, .fp-viewing-0-4 {
  #theme-phone-1 {
    .container {
      opacity: 1;
      -ms-transform: translate(-180px,0px) rotate(-9deg) scale(0.85, 0.85);
      -webkit-transform: translate(-180px,0px) rotate(-9deg) scale(0.85, 0.85);
      transform: translate(-180px,0px) rotate(-9deg) scale(0.85, 0.85);
    }
  }
}

#theme-phone-2 {
  position: fixed;
  z-index: 1;
  width: 320px;
  height: 560px;
  left: 50%;
  margin-left: -330px;
  top: 50%;
  margin-top: -260px;

  .container {
    transition: 0.5s ease-in-out;
    opacity: 0;

    img {
      position: absolute;
    }

    .screenshot {
      top: 71px;
      left: 25px;
      width: 232px;
    }
  }
}

.fp-viewing-4, .fp-viewing-0-4 {
  #theme-phone-2 {
    .container {
      opacity: 1;
      -ms-transform: translate(-100px,0px) rotate(-5deg) scale(0.9, 0.9);
      -webkit-transform: translate(-100px,0px) rotate(-5deg) scale(0.9, 0.9);
      transform: translate(-100px,0px) rotate(-5deg) scale(0.9, 0.9);
    }
  }
}

.section.five {

  .phone-container {
    position: relative;
  }

  .phone-image.left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    .screenshot {
      position: absolute;
      width: 181px;
      left: 19px;
      top: 55px;
      z-index: -2;
    }
  }
  .phone-image.right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    .screenshot {
      position: absolute;
      width: 181px;
      right: 50px;
      top: 55px;
      z-index: -2;
    }
  }

  .phone-screen {
    position: absolute;
    width: 181px;
    left: 50%;
    top: 55px;
    margin-left: -96px;
    z-index: -1;
  }
}

#screen {
  position: fixed;
  width: 228px;
  height: 410px;
  top: 50%;
  left: 50%;
  margin-top: -190px;
  margin-left: -306px;
  z-index: 3;
  overflow: hidden;

  #main_screen {
    transition: 0.5s ease-in-out;
    transition-delay: 0.2s;
    position: absolute;
    top: 100%;
  }

  #anim_target_Plan {
    transition: 0.5s ease-in-out;
    transition-delay: 0.2s;
    position: absolute;
    top: 100%;
  }

  #anim_target_Adapt {
    transition: 0.5s ease-in-out;
    transition-delay: 0.2s;
    position: absolute;
    top: 100%;
  }

  #anim_target_Inbox {
    transition: 0.5s ease-in-out;
    transition-delay: 0.2s;
    position: absolute;
    top: 100%;
  }

  #theme_screen {
    transition: 0.5s ease-in-out;
    transition-delay: 0.2s;
    position: absolute;
    top: 100%;
  }

  #notification_screen {
    transition: 0.5s ease-in-out;
    transition-delay: 0.2s;
    position: absolute;
    top: 100%;
  }

  &.one {
    #main_screen {
      top: 0%;
    }
    #anim_target_Plan {
      top: 100%;
    }

    #anim_target_Adapt {
      top: 100%;
    }

    #anim_target_Inbox {
      top: 100%;
    }

    #theme_screen {
      top: 100%;
    }
  }

  &.two {
    #main_screen {
      top: -100%;
    }
    #anim_target_Plan {
      top: 0%;
    }

    #anim_target_Adapt {
      top: 100%;
    }

    #anim_target_Inbox {
      top: 100%;
    }

    #theme_screen {
      top: 100%;
    }
  }

  &.three {
    #main_screen {
      top: -100%;
    }
    #anim_target_Plan {
      top: -100%;
    }

    #anim_target_Adapt {
      top: 0%;
    }

    #anim_target_Inbox {
      top: 100%;
    }

    #theme_screen {
      top: 100%;
    }
  }

  &.four {
   #main_screen {
    top: -100%;
   }
   #anim_target_Plan {
      top: -100%;
    }

    #anim_target_Adapt {
      top: -100%;
    }

    #anim_target_Inbox {
      top: 0%;
    }

    #theme_screen {
      top: 100%;
    }
  }

  &.five {
   #main_screen {
    top: -100%;
   }
   #anim_target_Plan {
      top: -100%;
    }

    #anim_target_Adapt {
      top: -100%;
    }

    #anim_target_Inbox {
      top: -100%;
    }

    #theme_screen {
      top: 0%;
    }
  }

  &.six {
    #main_screen {
      top: -100%;
    }
    #anim_target_Plan {
      top: -100%;
    }

    #anim_target_Adapt {
      top: -100%;
    }

    #anim_target_Inbox {
      top: -100%;
    }

    #theme_screen {
      top: -100%;
    }

    #notification_screen {
      top: 0%;
    }
  }
}

/*
* Background Animations
*/

#background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  pointer-events: none;

  .cloud, .sun {
    position: absolute;
    transition: 1.5s ease-in-out;
  }
}

#checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  margin-top: -100px;
  margin-left: -20px;
  transition: 0.5s ease-in-out;
  z-index: 0;
}

.fp-viewing-0, .fp-viewing-0-0 {
  #sun {
    left: -30%;
    top: 16%;
  }
  #cloud-1 {
    left: 10%;
    top: 30%;
  }
  #cloud-2 {
    left: 50%;
    top: 130px;
  }
  #cloud-3 {
    right: 10%;
    top: 20%;
  }
  #cloud-4 {
    right: -20%;
    top: 32%;
  }
}

.fp-viewing-1, .fp-viewing-0-1 {
  #sun {
    left: 5%;
    top: 12%;
  }
  #cloud-1 {
    left: -30px;
    top: 30%;
  }
  #cloud-2 {
    left: 35%;
    top: 130px;
  }
  #cloud-3 {
    right: 15%;
    top: 20%;
  }
  #cloud-4 {
    right: -20%;
    top: 32%;
  }
}

.fp-viewing-2, .fp-viewing-0-2 {
  #sun {
    left: 35%;
    top: 8%;
  }
  #cloud-1 {
    left: -70px;
    top: 30%;
  }
  #cloud-2 {
    left: 20%;
    top: 130px;
  }
  #cloud-3 {
    right: 30%;
    top: 20%;
  }
  #cloud-4 {
    right: 0%;
    top: 32%;
  }
}

.fp-viewing-3, .fp-viewing-0-3 {
  #sun {
    left: 60%;
    top: 5%;
  }
  #cloud-1 {
    left: -200px;
    top: 30%;
  }
  #cloud-2 {
    left: -5%;
    top: 130px;
  }
  #cloud-3 {
    right: 45%;
    top: 20%;
  }
  #cloud-4 {
    right: 10%;
    top: 32%;
  }
}

.fp-viewing-4, .fp-viewing-0-4 {
  #sun {
    left: 80%;
    top: 10%;
  }
  #cloud-1 {
    left: -200px;
    top: 30%;
  }
  #cloud-2 {
    left: -20%;
    top: 130px;
  }
  #cloud-3 {
    right: 80%;
    top: 20%;
  }
  #cloud-4 {
    right: 16%;
    top: 32%;
  }
}

.fp-viewing-5, .fp-viewing-0-5 {

  .cloud, .sun {
    transition: 0.5s ease-in-out;
  }

  #sun {
    left: 110%;
    top: 15%;
    opacity: 0;
  }
  #cloud-1 {
    left: -200px;
    top: 30%;
    opacity: 0;
  }
  #cloud-2 {
    left: -20%;
    top: 130px;
    opacity: 0;
  }
  #cloud-3 {
    right: 90%;
    top: 20%;
    opacity: 0;
  }
  #cloud-4 {
    right: 23%;
    top: 32%;
    opacity: 0;
  }

  #checkmark {
    opacity: 1;
    margin-top: -130px;
  }
}

.screen-image {
  width: 200px;
  margin: 0;
  padding: 0;
}

canvas {
  width: 228px;
  height: 404px;
}

#email-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.85);
  z-index: 9999;
}

.email-form {
  position: absolute;
  width: 50%;
  top: 30%;
  left: 50%;
  margin-left: -25%;

  h1 {
    margin-top: 0;
    margin-bottom: 0.5em;
    padding-bottom: 0;

    img {
      width: 25px;
      line-height: 10px;
      vertical-align: -2px;
    }
  }

  .collapse {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
  }

  input[type=email] {
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border-style: none;
    text-align: center;
    height: 50px;
    margin: 0;
  }

  button.signup {
    background: rgba(255, 255, 255, 0.5);
    border: 0;
    height: 50px;
    padding: 0;
    margin: 0;
  }

  .form-message, .form-error {
    padding: 0.5em 0;
    color: white;
    font-size: 1.2em;
  }

  .form-error {
    color: red;
  }

  ::-webkit-input-placeholder {
     color: rgba(255, 255, 255, 0.9);
  }

  :-moz-placeholder { /* Firefox 18- */
     color: rgba(255, 255, 255, 0.9);
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: rgba(255, 255, 255, 0.9);
  }

  :-ms-input-placeholder {
     color: rgba(255, 255, 255, 0.9);
  }
}

/*
* Media Query: Small Screen
*/

@media only screen and (max-width: 40em) {

  #screen canvas {
    display: none !important;
  }


  h1 {
    font-size: 1.4em;
    margin-top: 1.2em;
  }

  .fp-controlArrow {
    -ms-transform: scale(0.3, 0.3);
    -webkit-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
  }

  .appstore {
    height: 30px;
    background: rgba(0,20,70,0.8);
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  }

  .show-small {
    visibility: visible;
  }

  #background {
    z-index: 0;
  }

  header {

    padding-top: 10px;
    left: 0;
    right: 0;
    height: 45px;
    font-size: 0.8em;

    background: rgba(0,0,0,0.8);

    img {
      width: 30px;
      margin-left: 0px;
    }

    h1 {
      font-size: 1em;
      font-weight: 300;
    }

  }

  .phone-image {
    width: 200px;
  }

  .phone-image.left {

    .screenshot {
      position: absolute;
      width: 145px !important;
      left: 15px !important;
      top: 44px !important;
      z-index: -2;
    }
  }

  .phone-image.right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    .screenshot {
      position: absolute;
      width: 145px !important;
      right: 40px !important;
      top: 44px !important;
      z-index: -2;
    }
  }

  .phone-screen {
    width: 145px !important;
    top: 44px !important;
    margin-left: -75px !important;
  }

  .section {
    .small-heading {
      h1 {
        margin-top: -10px;
      }
    }
  }

  .screenshot {
    position: static;
    height: 320px;
  }

  #checkmark {
    left: 50%;
    margin-left: -170px !important;
    margin-top: -180px !important;
    -ms-transform: scale(0.7, 0.7);
    -webkit-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
  }

  .small-apple {
    width: 12px;
    margin-right: 4px;
  }

  footer {
    display: none;
    font-weight: 300;
    background: rgba(0,0,0,0.9);
    padding-top: 2em;
    left: 0;
    right: 0;
    bottom: 0;

    ul.nav {

      margin-top: 1em;
      border-top: 1px solid rgba(255,255,255,0.1);

      li {
        display: block !important;
        padding-top: 1em;
      }
    }
  }

  #cloud-3 {
    visibility: hidden;
  }
}

/*
* Media Query: Medium Screen
*/
@media only screen and (min-width: 40.063em) and (max-width: 64.063em) {
  body {
    header {

      padding-top: 10px;
      left: 0;
      right: 0;
      height: 45px;

      background: rgba(0,0,0,0.8);

      img {
        width: 30px;
        margin-left: 0px;
      }

      h1 {
        font-size: 1em;
        font-weight: 300;
      }

    }
  }

  #theme-phone-1 {
    position: fixed;
    z-index: 1;
    width: 320px;
    height: 560px;
    left: 50%;
    margin-left: -330px;
    top: 50%;
    margin-top: -260px;

    .container {
      transition: 0.5s ease-in-out;
      opacity: 0;
      position: relative;

      img {
        position: absolute;
      }

      .screenshot {
        top: 71px;
        left: 25px;
        width: 232px;
      }
    }
  }

  .fp-viewing-4, .fp-viewing-0-4 {
    #theme-phone-1 {
      .container {
        opacity: 1;
        -ms-transform: translate(80px,30px) scale(0.80, 0.80);
        -webkit-transform: translate(80px,30px) scale(0.80, 0.80);
        transform: translate(80px,30px) scale(0.80, 0.80);
      }
    }
  }


  #theme-phone-2 {
    position: fixed;
    z-index: 1;
    width: 320px;
    height: 560px;
    left: 50%;
    margin-left: -330px;
    top: 50%;
    margin-top: -260px;

    .container {
      transition: 0.5s ease-in-out;
      opacity: 0;

      img {
        position: absolute;
      }

      .screenshot {
        top: 71px;
        left: 25px;
        width: 232px;
      }
    }
  }

  .fp-viewing-4, .fp-viewing-0-4 {
    #theme-phone-2 {
      .container {
        opacity: 1;
        -ms-transform: translate(-80px,30px) scale(0.8, 0.8);
        -webkit-transform: translate(-80px,30px) scale(0.8, 0.8);
        transform: translate(-80px,30px) scale(0.8, 0.8);
      }
    }
  }

  footer {
    left: 12px;
    right: 0px;
    bottom: 0px;
    .column, .columns {
      padding: 0;
    }
  }

  a {
    padding-right: 0 !important;
  }
}

